name: Anchor Tests

on:
  push:
    branches: [main]
    paths:
      - "programs/**"
      - "tests/**"
      - "Anchor.toml"
      - "Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/*program*"
  workflow_dispatch:
    inputs:
      program:
        description: "Program to test"
        required: true
        default: "recurring_payments"

jobs:
  test:
    uses: solana-developers/github-workflows/.github/workflows/test.yaml@v0.2.9
    with:
      program: ${{ 'recurring_payments' }}
