name: Build and Deploy SDK Docs

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"
          cache-dependency-path: ./pnpm-lock.yaml

      - name: Install dependencies
        run: pnpm install

      - name: Build docs
        run: cd sdk && pnpm run docs

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          deploy_key: ${{ secrets.SDK_DEPLOY_KEY_TRIBUTARY_SO }}
          external_repository: tributary-so/sdk.tributary.so
          publish_branch: gh-pages
          publish_dir: ./sdk/docs
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          commit_message: "Deploy from ${{ github.repository }}@${{ github.sha }}"
          cname: sdk.tributary.so
